body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9ee0ed+0,75bdd1+41,398193+100 */
  background: #9ee0ed; /* Old browsers */
  background: -moz-linear-gradient(top,  #9ee0ed 0%, #75bdd1 41%, #398193 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #9ee0ed 0%,#75bdd1 41%,#398193 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #9ee0ed 0%,#75bdd1 41%,#398193 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ee0ed', endColorstr='#398193',GradientType=0 ); /* IE6-9 */

}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
  background-color: #eef;
}

.anchor {
  max-width: 512px;
  border: 1px dotted blue;
}