body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9114ff+0,390977+100 */
  background: #9114ff; /* Old browsers */
  background: -moz-linear-gradient(top,  #9114ff 0%, #390977 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #9114ff 0%,#390977 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #9114ff 0%,#390977 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9114ff', endColorstr='#390977',GradientType=0 ); /* IE6-9 */
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
  background-color: #dcf;
}
